//
@import 'bootstrap';
@import 'variables';
@import 'partials/footer';
@import 'partials/cards';
@import 'partials/body';
@import 'partials/comics';
@import 'partials/comic';
@import 'partials/animations';


a{
    text-decoration: none;
}

.active{
    border-top: 4px solid transparent;
    border-bottom: 4px solid $primary;
}
.table{
    margin: 0 !important;
}

.alert{
    padding: 2px  4px !important;
    font-size: 12px !important;
}
