//
@import 'bootstrap';
@import 'variables';
@import 'partials/footer';
@import 'partials/cards';
@import 'partials/body';

a{
    text-decoration: none;
}

.active{
    border-bottom: 2px solid $primary;
}
.table{
    margin: 0 !important;
}